@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



body {
    font-family: 'Sarabun', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* First section */
.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.first-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 95vw;
    flex-wrap: wrap;
}

.first-header img {
    width: 100px;
    height: 100px;
}

.first-links {
    display: flex;
    align-items: center;
    gap: 25px;
    font-style: normal;
    font-weight: 500;
}

.first a {
    color: #FFFFFF;
    text-decoration: none;
}

.first-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1450px;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
}

.first-left {
    max-width: 600px;
}

.first-left h1 {
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.first-left button {
    background-color: #62BFAC;
    border: 2px solid #383D3E;
    color: #383D3E;
    border-radius: 5px;
    padding: 3px 15px; 
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
    box-shadow: 2px 2px #383D3E;
}

.first p {
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
}

.first-links p {
    font-size: 18px;
    color: #FFFFFF;
}

.first-right img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
}



/* Second Section */
.second {
    text-align: center;
    flex: 1;
    padding-bottom: 80px;
    padding-top: 80px;
}

.second h3 {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    color: #8762BF;
    margin-top: 0;
}

.second-img {
    display: flex;
    justify-content: center;
    /*flex-shrink: 1;*/
    flex-wrap: wrap;
}

.second img {
    border: 5px solid #62BFAC;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.second figcaption {
    font-style: normal;
    font-weight: 100;
    width: 250px;
    font-size: 15px;
}



/* Third Section */
.third {
    background-color: #e5e7eb;
    color: #383D3E;
    font-size: 36px;
    font-style: light italic;
    flex: 1;
}

.third-content {
    max-width: 790px;
    /*padding: 55px;*/
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
}

.third h3 {
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    color: #383D3E;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.third h4 {
    text-align: right;
    font-size: 23px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
}



/* Fourth Section */
.fourth {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-top: 80px;
    padding-bottom: 80px;
}

.call-to-action {
    background-color: #62BFAC;
    color: #383D3E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    max-width: 1350px;
    /*margin: 30px;*/
    border-radius: 5px;
    flex-wrap: wrap;
}

.call-to-action h4 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.call-to-action p {
    font-size: 16px;
    margin-top: 3px;
    font-style: normal;
    font-weight: 100;
}

.fourth button {
   background-color: #62BFAC;
   border: 2px solid #383D3E;
   color: #383D3E;
   border-radius: 5px;
   padding: 3px 15px; 
   font-style: normal;
   font-weight: 500;
   box-shadow: 2px 2px #383D3E;
}



/* Footer */
.footer {
    display: flex;
    justify-content: center;
    flex: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}



/* Combined */
.first, .footer {
    background-color: #8762BF;
    color: #FFFFFF
}

.second, .fourth {
    background-color: #ffffff;
    color: #8762BF;
}

button {
    width: 95px;
    height: 30px;
}