@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* First section */
.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.first-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 95vw;
    flex-wrap: wrap;
}

.first-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.first a {
    color: #f9faf8;
}

.first-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1450px;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
}

.first-left button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 20px; 
}

.first-right img {
    background-color: grey;
    max-width: 100%;
    width: 400px;
    height: auto;
}

.first-left h1 {
    font-size: 48px;
    font-style: bold;
    font-weight: 900;
    color: #f9faf8;
    margin-top: 0px;
}

.first-links, p {
    font-size: 18px;
    color: #e5e7eb;
}

.first h3 {
    font-size: 24px;
    color: #f9faf8;
}


/* Second Section */
.second {
    text-align: center;
    flex: 1;
    padding-bottom: 80px;
}

.second img {
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.second-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.second h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}


/* Third Section */
.third {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: light italic;
    flex: 1;
    
}

.third h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    text-align: left;
}

.third h4 {
    text-align: right;
    font-size: 24px;
}

.third-content {
    max-width: 790px;
    /*padding: 55px;*/
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
}


/* Fourth Section */
.fourth {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fourth button {
   background-color: #3882f6;
   border: 2px solid #f9faf8;
   color: #f9faf8;
   border-radius: 5px;
   padding: 3px 15px; 
}

.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    max-width: 1350px;
    margin: 30px;
    border-radius: 5px;
    flex-wrap: wrap;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Combined */
.first, .footer {
    background-color: #1f2937;
    color: #f9faf8
}

.second, .fourth {
    background-color: #f9faf8;
    color: #1f2937;
}